<!DOCTYPE html>
<html>
<head>
<title>Market Prices</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <footer>

<h3>🌱 AgriSathi</h3>

<p>
Empowering Indian Farmers Through Technology
</p>

<p>
© 2026 AgriSathi. All Rights Reserved.
</p>

</footer>

<nav>
<div class="logo">🌱 AgriSathi</div>
</nav>

<div class="services">

<h1>📈 Live Market Prices</h1>

<table class="price-table">

<tr>
<th>Crop</th>
<th>State</th>
<th>Price (₹/Quintal)</th>
<th>Trend</th>
</tr>

<tr>
<td>Wheat</td>
<td>Punjab</td>
<td>2450</td>
<td>⬆️ Rising</td>
</tr>

<tr>
<td>Rice</td>
<td>Haryana</td>
<td>3200</td>
<td>⬆️ Rising</td>
</tr>

<tr>
<td>Cotton</td>
<td>Maharashtra</td>
<td>7200</td>
<td>⬇️ Falling</td>
</tr>

<tr>
<td>Maize</td>
<td>Rajasthan</td>
<td>2100</td>
<td>➡️ Stable</td>
</tr>

</table>

</div>

</body>
</html>