<!DOCTYPE html>
<html>
<head>
<title>Government Schemes</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <footer>

<h3>🌱 AgriSathi</h3>

<p>
Empowering Indian Farmers Through Technology
</p>

<p>
© 2026 AgriSathi. All Rights Reserved.
</p>

</footer>

<nav>
<div class="logo">🌱 AgriSathi</div>
</nav>

<div class="services">

<h1>Government Schemes</h1>

<div class="service-box">PM-KISAN<br>₹6000 Annual Support</div>

<div class="service-box">PMFBY<br>Crop Insurance Scheme</div>

<div class="service-box">Kisan Credit Card<br>Easy Farm Loans</div>

<div class="service-box">Soil Health Card<br>Soil Testing Services</div>

<div class="service-box">e-NAM<br>Online Agricultural Market</div>

<div class="service-box">Micro Irrigation Fund<br>Water Conservation</div>

</div>

</body>
</html>